@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --primary-color:#8B7EF2;
    --secondary-color:#8B7EF2;
}

*{
    font-family: 'Poppins',sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform:capitalize;
    transition:all .2s linear;
    text-decoration: none;
}

html{
    font-size: 62.5%;

}

body{
    overflow-x: hidden;
}


.about h1{
    font-size:3.5rem;
    font-weight:bold;
    color:var(--primary-color);
    letter-spacing: .2rem;
    text-decoration:underline;
    
}


/***************************Navbar*****************************************************/
.header{
    display:flex;
    text-align: center;
    align-items:center;
    justify-content:space-between;
    width:100%;
    padding:1rem 2rem;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}

header h1{
    color:#8B7EF2;
}

header i{
    color:#8B7EF2;
}


.header .navbar ul{
    list-style-type:none;
    display:flex;
    align-items:center;
    justify-content:space-around
}

.header .navbar ul li{
    margin:0 1.5rem;
}

.header .navbar ul li a{
    font-size:2rem;
    color:#8B7EF2;
}

.header .navbar ul li a:hover{
    color:#ccc;
}




/***********************Home*********************************/
.home{
    min-height: 100vh;
    width:100vw;
    background-image: linear-gradient(to right bottom, #a2f1d6, #adf3db, #b7f4df, #c1f6e4, #cbf7e8, #c9f7e7, #c7f7e7, #c5f7e6, #b6f5e0, #a7f4d9, #97f2d3, #86f0cc);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding: 0 1rem;
    position:relative;
    overflow:hidden !important;
  
}

.home h1{
    font-size: 4rem;
    color:#8B7EF2;
    text-shadow: 0 0.3 0.5 rgba(0,0,0,0.3);
}

.home h2{
    font-size: 2.5rem;
    color:#8B7EF2;
    font-weight: 400;
    text-shadow: 0 0.3 0.5 rgba(0,0,0,0.3);
}

.home .wave{
    position:absolute;
    bottom:-.5rem;
    left:0;
    height:8rem;
    width:100%;
    background: url('../images/wave.png');
    background-size:100rem 8rem;
    background-repeat: repeat-x;
    animation:waves 10s linear infinite;
}

.home .wave2{
   animation-direction:reverse;
   opacity:0.2;
}

.home .wave3{
    animation-duration: 3s;
    opacity:0.5;
}

@keyframes waves{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:100rem;
    }
}

.home .fa-braille{
    position:absolute;
    font-size:25rem;
    opacity:.15;
    color:rgb(11, 247, 168);
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    100%{transform:rotate(360deg)}
}

/***********************About us****************************/
.about{
    min-height:70vh;
    width:100vw;
    text-align:center;
    position:relative;
    overflow:hidden;
}


.container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding:0 4rem;
}

.container .content h3{
    text-align: left;
    font-size:3rem;
    color:var(--primary-color);
}

.container .content p{
    text-align:left;
    font-size:2rem;
    color:var(--primary-color);
}

.container .image img{
    width:50vw;
}

/***********************Services****************************/
.services{
    min-height:175vh;
    width:100vw;
    background-image: linear-gradient(to top, #7fffd4, #89ffff, #bdfdff, #ebfbff, #ffffff);
    text-align:center;
    align-items:center;
    justify-content:center;
}

.business{
    display:flex;
    justify-content: space-around;
    padding:7rem;

}

.business .content{
    width:40vw;
    text-align:center;
    align-items:center;
}

.business-cards{
    width:60vw;
    display:flex;

}
.business-card{
    height:200px;
    width:250px;
    color:black;
}

.business-card img{
    height:200px;
    width:200px;
}

.services h1{
    color:#5E6AE0;
    padding:2rem;
    font-size:3.5rem;
}

.language-heading{
    margin-top:13rem;
}
.card h2{
    color:#5E6AE0;
}

.languages{
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin:3rem;
}
.card{
    height:370px;
    width:250px;
    background-color: #fff;
    color:black;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    margin:3rem 0;
}

.card img{
    height:150px;
    width:250px;
    border-radius: 40%;
}

.card ul li{
    font-size:1.5rem;
    list-style-type: none;
    border-bottom: .2px solid grey;
}

/***********************30000+******************************/
.three-thousand{
   height:40vh;
   width:100vw;
   color:#5E6AE0;
   text-align: center;
   font-size:2rem;
   padding:3rem;
   font-weight:bold;
}

/***********************Processes***************************/
.process{
    width:100vw;
    height:95vh;
    display:flex;
    justify-content: space-around;
    background-image: linear-gradient(to top, #7fffd4, #89ffff, #bdfdff, #ebfbff, #ffffff);
    font-size:1.5rem;
}

.process-content{
    width:20vw;
    padding-top:10rem;   
}

.process-content button{
    height:50px;
    width:300px;
    border-radius:5px;
    margin-top: 10px;
    background-color: transparent;
}
.process-box{
    width:450px;
    padding:2rem;
}

.process-headers{
    display:flex;
    justify-content: space-between;
}

.process-headers h6{
    color:black;
    font-size:1.5rem;
    
}
.process-card1{
    background-color: whitesmoke;
    width:10vw;
    height:10vh;
    font-size:1.5rem;
    margin-top:10px;
    margin-right:5px;
    border-radius:5px ;
    padding:1rem;
    text-align:center;
    
}
.process-card{
    background-color: whitesmoke;
    width:10vw;
    height:10vh;
    font-size:1.5rem;
    margin-top:10px;
    margin-right:5px;
    border-radius:5px ;
    padding:1rem;
    text-align:center;
    animation:card-animation 10s linear infinite;
}


@keyframes card-animation {
    0%{
        transform:translateX(0);
        
    }
    30%{
        transform:translateX(270px);
        color:#8B7EF2;
        font-size:2rem;
    }
    70%{
        transform:translateX(270px);
        color:#8B7EF2;
        font-size:2rem;
    }
    80%{
        transform:translateX(270px);
        color:#8B7EF2;
        font-size:2rem;
    }
    100%{
        transform:translateX(0);
        color:#8B7EF2;
    }
}

/***********************Already*****************************/
.already{
    width:100vw;
    height:auto;
    display:flex;
    justify-content: space-around;
}

.already-content{
    width:55vw;
    text-align: left;
    padding:3rem;
    margin-top:100px;
}

.already-content h1{
    font-size:5rem;
}

.already-content h2{
    font-size:4rem;
}

.already-content ul{
    list-style-type: none;
    font-size:2rem;
}
.already-cards{
    width:40vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:40px;
}

.already-card{
    width:350px;
    height:180px;
    background-color: whitesmoke;
    box-shadow:rgba(0,0,0,0.5);
    border-radius: 10px;
    padding:2rem;
}

.already-card .paragraph{
    font-size:1.6rem;    
}

.already-card .credentials{
    font-size:1.3rem;
    color:#5E6AE0;
    padding:1rem;
}

/***********************Dream*******************************/

.dream{
    width:100vw;
    height:auto;
    display:flex;
    justify-content:space-around;
    padding:5rem;
    margin-top:70px;
}

.dream-content h1{
    font-size:3.5rem;
}

.dream-content li{
    font-size: 2rem;
    list-style-type: none;
}

.dream-content p{
    font-size:1rem;
}
.dream-images{
    width:55vw;
    height:500px;
}

.dream-image1 img{
    width:500px;
    height:300px;
    position:absolute;
    opacity:0.6;
}

.dream-image2 img{
    width:200px;
    height:350px;
    border:1px solid whitesmoke;
    border-radius:15px;
    position:absolute;
}

.stack-top{
    z-index:9;
    margin:30px;
}

/************************Right website**********************/
.right-website{
    width:100vw;
    height:auto;
    text-align:center;
    padding:3rem;
}

.right-website h1{
    font-size:3rem;   
}

.website-icon i{
    font-size:4rem;
    margin-top:2rem;
}

.website-icon p{
    font-size:2rem;
   
}
/***********************Media Queries***********************/
@media (max-width:750px){
    html{
        font-size:62.5%;
    }   
    header{
        flex-direction: column;
    }
    .navbar ul{
        margin:1rem 0;
        padding:10px;
        background-color: rgba(0,0,0,0.1);
    }
    .navbar{
        height:110px;
    }

    .home h1{
        font-size:2rem;
        margin-top:2rem;
    }
    
    .home h2{
        font-size:1.5rem;
    }
    
    .container{
        flex-direction: column;
        padding:0 2rem;
    }

  
    .container .image img{
        width:100vw;
    }

    .container .content h3,p{
        text-align: center;
    }

    .business{
        flex-direction: column;
        align-items: center;
    }

    .business-cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .languages{
        flex-direction: column;
        align-items: center;
    }
    .three-thousand{
        font-size:1.5rem;
    }
    .process{
        flex-direction:column;
        height:170vh;
    }
    .process-content{
        width:100vw;
        text-align:center;
        
    }
    .process-box
    {
        width:450px;
        margin:auto;
    }
    .process-card1{
        background-color: whitesmoke;
        width:18vw;
        height:13vh;
        font-size:1.5rem;
        margin-top:10px;
        margin-right:5px;
        border-radius:5px ;
        padding:1rem;
        text-align:center;
    }
    .process-card{
        background-color: whitesmoke;
        width:18vw;
        height:13vh;
        font-size:1.5rem;
        margin-top:10px;
        margin-right:5px;
        border-radius:5px ;
        padding:1rem;
        text-align:center;
        animation:card-animation 10s linear infinite;
    }

    @keyframes card-animation {
        0%{
            transform:translateX(0);
            
        }
        30%{
            transform:translateX(310px);
            color:#8B7EF2;
            font-size:2rem;
        }
        70%{
            transform:translateX(310px);
            color:#8B7EF2;
            font-size:2rem;
        }
        80%{
            transform:translateX(310px);
            color:#8B7EF2;
            font-size:2rem;
        }
        100%{
            transform:translateX(0);
            color:#8B7EF2;
        }
    }

    .already{
        flex-direction:column;
        text-align:center;
        font-size:.3rem;
    }

    .already-content{
        width:100vw;
    }
    .already-cards{
        width:100vw;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top:20px;
        margin-bottom:40px;
    }
    .already-card{
        margin-top:20px;
    }

    .dream{
        flex-direction: column;
        align-items:center;
    }

    .dream-images{
        width:100vw;
        height:500px;
    }

    .dream-content{
        text-align: center;
    }
}



/***********Mobile********************/
@media (max-width:550px){
    nav ul{
        flex-direction:column;
        width:550px;
    }

    .home h1{
        margin-top:2rem;
    }
    .process{
        height:190vh;
    }
    .process-box
    {
        width:450px;
        margin:auto;
    }
    .process-card1{
        background-color: whitesmoke;
        width:20vw;
        height:16vh;
        font-size:1.5rem;
        margin-top:10px;
        margin-right:5px;
        border-radius:5px ;
        padding:1rem;
        text-align:center;
    }
    .process-card{
        background-color: whitesmoke;
        width:20vw;
        height:16vh;
        font-size:1.5rem;
        margin-top:10px;
        margin-right:5px;
        border-radius:5px ;
        padding:1rem;
        text-align:center;
        animation:card-animation 10s linear infinite;
    }

    @keyframes card-animation {
        0%{
            transform:translateX(0);
            
        }
        30%{
            transform:translateX(260px);
            color:#8B7EF2;
            font-size:2rem;
        }
        70%{
            transform:translateX(260px);
            color:#8B7EF2;
            font-size:2rem;
        }
        80%{
            transform:translateX(260px);
            color:#8B7EF2;
            font-size:2rem;
        }
        100%{
            transform:translateX(0);
            color:#8B7EF2;
        }
    }
}